APP_NAME=Personal Finance API LR3
APP_VERSION=3.0.0
POSTGRES_DB=finance_db_lr3
POSTGRES_USER=finance_user
POSTGRES_PASSWORD=finance_pass
POSTGRES_PORT=5433
API_PORT=8002
PARSER_PORT=8003
REDIS_PORT=6380
JWT_SECRET=super_secret_value
JWT_EXP_MINUTES=60
SECRET_KEY=super_secret_value
PARSER_REQUEST_TIMEOUT_SECONDS=30
DATABASE_URL=postgresql+psycopg2://finance_user:finance_pass@localhost:5433/finance_db_lr3
